@model CalculatorModel

<h2 class="text-center">Payment plan</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Export" method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Installment</th>
                            <th>Principal paid</th>
                            <th>Interest paid</th>
                            <th>Payment amount</th>
                            <th>Remaining amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payment in Model.PaymentPlan)
                        {
                            <tr>
                                <td>@payment.InstallmentNumber</td>
                                <td>@payment.PrincipalPaid.ToString("C")</td>
                                <td>@payment.InterestPaid.ToString("C")</td>
                                <td>@payment.PaymentAmount.ToString("C")</td>
                                <td>@payment.RemainingPrincipal.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @* Information for the export *@
                <input type="hidden" asp-for="@Model.PurchaseAmount" />
                <input type="hidden" asp-for="@Model.Installments" />
                <input type="hidden" asp-for="@Model.Interest" />
                <input type="hidden" asp-for="@Model.InterestType" />
                <input type="hidden" asp-for="@Model.PaymentPlan" />

                <div class="text-center">
                    <a class="btn btn-outline-primary" asp-action="Index">Back</a>
                    <button type="submit" class="btn btn-outline-success">Export to Excel</button>
                </div>
            </form>
        </div>
    </div>
</div>
